<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
        'bundles/bcbootstrap/css/bootstrap.css'
        'bundles/bcbootstrap/css/bootstrap-responsive.css'
        'bundles/bcbootstrap/css/docs.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block javascriptstop %}
        {% javascripts
            '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
            'bundles/bcbootstrap/js/bootstrap.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>

<!-- Navbar
================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{% block bootstrap_title_link %}{% endblock %}">{% block bootstrap_title %}Bootstrap{% endblock %}</a>
            <div class="nav-collapse collapse row-fluid">
                {% block bootstrap_menu %}
                <ul class="nav">
                    <li class="active first">  <a href="">Home</a>                </li>
                    <li class="">        <a href="">Get started</a>                </li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% block bootstrap_subhead %}
<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container-fuild">
        <h1>Getting started</h1>
        <p class="lead">Overview of the project and how to get started with a simple template.</p>

    </div>
</header>
{% endblock %}

<div class="container container-fluid">

    {% for flashKey, flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice img-rounded btn btn-info disabled btn-block" style="margin: 10px 0px;">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <!-- Docs nav
    ================================================== -->
    <div class="row-fluid">
        {% block mainbody %}
        <div class="span3 bs-docs-sidebar">
            {% block bootstrap_leftmenu %}
            <ul class="nav nav-list bs-docs-sidenav sidebar-nav visible-tablet visible-phone">
                <li><a class="" href="#home"><i class="icon-chevron-right"></i> Home</a></li>
                <li><a class="" href="#getting-started"><i class="icon-chevron-right"></i> Getting strarted?</a></li>
            </ul>
            {% endblock %}
        </div>
        <div class="span9">
            <section>
            {% block body %}
                <section id="contents">
                    <div class="page-header">
                        <h1>1. What's included</h1>
                    </div>
                    <p class="lead">Bootstrap comes equipped with HTML, CSS, and JS for all sorts of things, but they can be summarized with a handful of categories visible at the top of the <a href="http://getbootstrap.com">Bootstrap documentation</a>.</p>
                </section>
            {% endblock %}
            </section>
        </div>
        {% endblock %}
    </div>

</div>


<!-- Footer
================================================== -->
{% block bootstrap_footer %}
<footer class="footer">
    <div class="container">
        <p>&nbsp;</p>
        <ul class="footer-links">
            <li class=""><a href="#home">Home</a></li>
            <li class="muted">&middot;</li>
            <li class=""><a href="#getting-started">Getting started?</a></li>
        </ul>
    </div>
</footer>
{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
