language: php

sudo: false

matrix:
  include:
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
      env: DEPENDENCIES=beta
    - php: nightly
  allow_failures:
    - php: 7.0
    - php: nightly
  fast_finish: true

before_install:
  - if [ "$DEPENDENCIES" = "beta" ]; then composer config minimum-stability beta; fi;
  - travis_retry composer self-update && composer --version

install:
  - travis_retry composer update $COMPOSER_FLAGS --prefer-source -n

script: vendor/bin/phpunit --verbose
