<!DOCTYPE html>
<html>

<head>

<title>Getting Started &mdash; BraincraftedBootstrapBundle</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
<link href="/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="/css/documentation.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">

<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>

<body>

<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">BraincraftedBootstrapBundle</a>
                
    
                    
    
    
    <ul class="nav navbar-nav">
                <li class="active first">        <a href="/getting-started.html">Getting started</a>                </li>

        <li class="last">        <a href="/components.html">Components</a>                </li>


    </ul>

    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-warning">
                You are browsing the documentation for <strong>BootstrapBundle v2.0</strong>, which will be released very soon. I have moved the documentation of <a href="http://bootstrap1.braincrafted.com">BraincraftedBootstrapBundle v1.4</a>.
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Getting Started</h1>
            <p class="lead">This section helps you through the installation and configuration process of BraincraftedBootstrapBundle and provides guides about how to customize Bootstrap and extend the bundle.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <nav class="sidebar" data-spy="affix" data-offset-top="130">
                <ul class="sidebar nav nav-pills nav-stacked">
                    <li><a href="#requirements">Requirements</a></li>
                    <li><a href="#installation">Installation</a></li>
                    <li><a href="#configuration">Configuration</a></li>
                    <li><a href="#template">Basic template</a></li>
                    <li><a href="#customizing">Customizing</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-9">
            <section>
    <div class="page-header">
        <h2 id="requirements">Requirements</h2>
    </div>

    <p>BraincraftedBootstrapBundle has a few required dependencies:</p>

    <ul>
        <li><strong>PHP 5.3.3</strong> and up</li>
        <li><strong>Symfony 2.3</strong> and up</li>
        <li><strong>Twig 1.11</strong> and up</li>
        <li><strong>AsseticBundle 2.3</strong> and up (optional, but highly recommended)</li>
    </ul>

    <p>If you don't use AsseticBundle for managing your assets, you need to manually manage them or use some other tool like Bower. While you can certainly do this, we can't help you setting up the bundle up in this case.</p>

    <p>The bundle also comes with support for various third party bundles:</p>

    <ul>
        <li><strong><a href="https://github.com/KnpLabs/KnpMenuBundle">KnpMenuBundle</a> 1.1.2</strong> and up</li>
        <li><strong><a href="https://github.com/KnpLabs/KnpPaginatorBundle">KnpPaginatorBundle</a></strong> <code>dev-master</code><sup>1</sup></li>
        <li><strong><a href="http://leafo.net/lessphp/">lessphp</a> 0.4.0</strong> and up (if you don't want to use the official <a href="http://lesscss.org">LESS</a> implementation in Node.js)</li>
    </ul>

    <p>Since this bundle has two main and many additional dependencies, here is a table of compatibilities:</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>BootstrapBundle</th>
                <th>Symfony</th>
                <th>Bootstrap</th>
                <th>jQuery</th>
                <th>KnpMenu</th>
                <th>KnpPaginator</th>
                <th>lessphp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong><code>v1.3.*</code></strong></td>
                <td><code>v2.2.*</code></td>
                <td><code>v2.3.*</code></td>
                <td><code>v1.9.*</code></td>
                <td><code>v1.*</code></td>
                <td><code>v2.*</code></td>
                <td>-</td>
            </tr>
            <tr>
                <td><strong><code>v1.4.*</code></strong></td>
                <td><code>v2.2.*</code></td>
                <td><code>v2.3.*</code></td>
                <td><code>v1.9.*</code></td>
                <td><code>v1.*</code></td>
                <td><code>v2.*</code></td>
                <td><code>v0.3.*</code></td>
            </tr>
            <tr>
                <td><strong><code>v2.0.*</code></strong></td>
                <td><code>v2.3.*</code><br><code>v2.4.*</code></td>
                <td><code>v3.0.*</code></td>
                <td><code>v1.10.*</code></td>
                <td><code>v1.1.*</code><br><code>v2.0.0-alpha1</code><sup>2</sup></td>
                <td><code>dev-master</code><sup>1</sup></td>
                <td><code>v0.4.*</code></td>
            </tr>
        </tbody>
    </table>

    <p>
        <sup>1</sup> knplabs/knp-components currently has no release that is compatible with Symfony 2.3.<br>
        <sup>2</sup> The bundle works fine with <code>1.*</code> releases of KnpMenu, however, automatically matching the active element only works with <code>2.*</code> or <code>dev-master</code>.
    </p>

</section>
            <section>
    <div class="page-header">
        <h2 id="installation">Installation</h2>
    </div>

    <p>BraincraftedBootstrapBundle should be installed using <a href="http://getcomposer.org">Composer</a>:</p>

    <pre><code class="json">{
    "require": {
        "braincrafted/bootstrap-bundle": "~2.0"
    }
}</code></pre>

    <p><span class="label label-warning">Warning</span> Version 2.0 is currently only an alpha release. If you use Composer you need to change the <code>minimum-stability</code> to include alpha releases. You can do this either globally by setting <a href="http://getcomposer.org/doc/04-schema.md#minimum-stability"><code>minimum-stability</code></a> to <code>alpha</code> or locally by appending <code>@alpha</code> to the version constraint:</p>
    <pre><code class="json">{
    "require": {
        "braincrafted/bootstrap-bundle": "~2.0@alpha"
    }
}</code></pre>
    <p>Once a stable version of 2.0 is released, you can remove the <code>minimum-stability</code> setting.</p>

    <p>By default, BraincraftedBootstrapBundle <strong>does not include Bootstrap and jQuery</strong>. Some people want to use Composer for these dependencies, other people prefer tools designed for managing assets like Bower. If you want to use such a tool, we assume you know how to use it. If you have no experience with these tools, you probably want to stick with Composer. You can use the following code in your <code>composer.json</code> to include Bootstrap and jQuery in your Symfony2 project:</p>

    <pre><code class="json">{
    "repositories": [
        {
            "type": "package",
            "package": {
                "name": "jquery/jquery",
                "version": "1.10.2",
                "dist": {
                    "url": "http://code.jquery.com/jquery-1.10.2.js",
                    "type": "file"
                }
            }
        }
    ],
    "require": {
        ... other dependencies
        "twbs/bootstrap": "3.0.*",
        "jquery/jquery":  "1.10.*"
    }
}
    </code></pre>

    <p>Of course you also need to add the bundle to your <code>AppKernel.php</code>:</p>

    <pre><code class="php"># app/AppKernel.php

class AppKernel extends Kernel
{
    public function registerBundles()
    {
        $bundles = array(
            // ...
            new Braincrafted\Bundle\BootstrapBundle\BraincraftedBootstrapBundle(),
        );
        // ...
    }
}

</code></pre>

    <p>BraincraftedBootstrapBundle highly recommends you to use Assetic for managing assets. If you do use Assetic for managing your assets, you should now run the <code>dump</code> command.</p>

    <pre><code>php app/console assetic:dump</code></pre>

    <p><span class="label label-info">Please note</span> Assetic needs to compile the LESS files from Bootstrap and therefore requires either <a href="http://lesscss.org">LESS</a> or <a href="http://leafo.net/lessphp/">lessphp</a>. The following section explains how to install and configure them.</p>

    <h3>Installing a LESS compiler</h3>

    <p>As mentioned above, it is sufficient to install either LESS or lessphp.</p>

    <p><span class="label label-primary">Don't forget</span> You have to install the library, configure Assetic to compile <code>.less</code> files using that library and you have to tell BraincraftedBootstrapBundle if you want to use <code>less</code> or <code>lessphp</code>.</p>

    <h4>LESS</h4>

    <p>We highly recommend using the original version of LESS, since the developers of Bootstrap only use this version to compile the stylesheets and it can happen that Bootstrap does not compile with lessphp. To install LESS, you need <a href="https://npmjs.org">NPM</a>.</p>

    <pre><code>npm install -g less</code></pre>

    <p>You probably need to configure Assetic to use the installed binary. Change the path to the location of Node.js on your system.</p>

    <pre><code># app/config/config.yml
assetic:
    filters:
        less:
            node: /usr/local/bin/node
            node_paths: [/usr/local/lib/node_modules]
            apply_to: "\.less$"
        cssrewrite: ~
braincrafted_bootstrap:
    less_filter: less</code></pre>

    <h4>lessphp</h4>

    <p>Although it is not recommended to use lessphp, you can use it and install it via Composer.</p>

    <pre><code class="json">{
  "require": {
    "leafo/lessphp": "0.4.0"
  }
}</code></pre>

    <p>And add the following section to your config.</p>

    <pre><code class="yamnl"># app/config/config.yml
assetic:
    filters:
        lessphp:
             file: %kernel.root_dir%/../vendor/leafo/lessphp/lessc.inc.php
             apply_to: "\.less$"
        cssrewrite: ~
braincrafted_bootstrap:
    less_filter: lessphp</code></pre>

    <p><span class="label label-info">Hint</span> If a new version of Bootstrap no longer compiles with lessphp, check the <a href="http://leafo.net/lessphp/">lessphp website</a> whether a new version has been released.</p>

    <h3 id="installing-glyphicons">Installing Glyphicons</h3>

    <p>Bootstrap comes with support for Glyphicons. However, you need to copy the icon fonts into your <code>web/</code> directory, so that browsers can find it. BraincraftedBootstrapBundle comes with a command to copy the files for you</p>

    <pre><code class="bash">php app/console braincrafted:bootstrap:install</code></pre>

    <p>Since you need to do this everytime the font changes in Bootstrap, you can also configure a <code>ScriptHandler</code> in your <code>composer.json</code>. Now the icon fonts are copied into the web directory after Composer updates the packages.</p>

    <pre><code class="json">{
    ...
    "scripts": {
        "post-install-cmd": [
            ...
            "Braincrafted\\Bundle\\BootstrapBundle\\Composer\\ScriptHandler::install"
        ],
        "post-update-cmd": [
            ...
            "Braincrafted\\Bundle\\BootstrapBundle\\Composer\\ScriptHandler::install"
        ]
    }
    ...
}</code></pre>

</section>
            <section>
    <div class="page-header">
        <h2 id="configuration">Configuration</h2>
    </div>

    <p>BraincraftedBootstrapBundle can be configured using your project's <code>config.yml</code>. The following snippet shows all possible configuration options and their default values.</p>

    <p>The options under <code>auto_configure</code> are used to disable the auto configuration functionality of BraincraftedBootstrapBundle. For example, if you want to override the default Assetic configuration of the bundle, you need to set the value to <code>false</code>.</p>

    <pre><code class="yaml"># app/config/config.yml
braincrafted_bootstrap:
    output_dir: %kernel.root_dir%/../web
    assets_dir: %kernel.root_dir%/../vendor/twbs/bootstrap
    jquery_path: %kernel.root_dir%/../vendor/jquery/jquery/jquery-1.10.2.js
    less_filter: less # "less", "lessphp" or "none"
    auto_configure:
        assetic: true
        twig: true
        knp_menu: true
        knp_paginator: true
    customize_variables:
        variables_file: ~
        bootstrap_output: %kernel.root_dir%/Resources/less/bootstrap.less
        bootstrap_template: BraincraftedBootstrapBundle:Bootstrap:bootstrap.less.twig</code></pre>

    <h3>Assetic Configuration</h3>

    <p>If the option <code>braincrafted_bootstrap.auto_configure.assetic</code> is set to <code>true</code> the bundle configures Assetic for you. In case you want to adapt the configuration, you can base it on the default one.</p>

    <pre><code class="yaml"># app/config/config.yml

braincrafted_bootstrap:
    auto_configure:
        assetic: false

assetic:
    ...
    assets:
        bootstrap_css:
            inputs:
                - %kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less
            filters:
                - less
                - cssrewrite
            output: css/bootstrap.css
        bootstrap_js:
            inputs:
                - %kernel.root_dir%/../vendor/twitter/bootstrap/js/transition.js
                - %kernel.root_dir%/../vendor/twitter/bootstrap/js/alert.js
                - %kernel.root_dir%/../vendor/twitter/bootstrap/js/button.js
                - %kernel.root_dir%/../vendor/twitter/bootstrap/js/carousel.js
                - %kernel.root_dir%/../vendor/twitter/bootstrap/js/collapse.js
                - %kernel.root_dir%/../vendor/twitter/bootstrap/js/dropdown.js
                - %kernel.root_dir%/../vendor/twitter/bootstrap/js/modal.js
                - %kernel.root_dir%/../vendor/twitter/bootstrap/js/tooltip.js
                - %kernel.root_dir%/../vendor/twitter/bootstrap/js/popover.js
                - %kernel.root_dir%/../vendor/twitter/bootstrap/js/scrollspy.js
                - %kernel.root_dir%/../vendor/twitter/bootstrap/js/tab.js
                - %kernel.root_dir%/../vendor/twitter/bootstrap/js/affix.js
                - %kernel.root_dir%/../vendor/braincrafted/bootstrap-bundle/Braincrafted/Bundle/BootstrapBundle/Resources/js/bc-bootstrap-collection.js
            output: js/bootstrap.js
        jquery:
            inputs:
                - %kernel.root_dir%/../vendor/jquery/jquery/jquery-1.10.2.js
            output: js/jquery.js
    </code></pre>

    <h3>Twig Configuration</h3>

    <p>If the option <code>braincrafted_bootstrap.auto_configure.twig</code> is set to <code>true</code> (the default value), your project will automatically use the form theme provided with BraincraftedBootstrapBundle. You can turn auto configuration off and manually configure Twig if you want to have more control.</p>

    <pre><code class="yaml"># app/config/config.yml

braincrafted_bootstrap:
    auto_configure:
        twig: false

twig:
    form:
        resources:
            - BraincraftedBootstrapBundle:Form:form_div_layout.html.twig
</code></pre>

    <h3>KnpMenuBundle Configuration</h3>

    <p>If the option <code>braincrafted_bootstrap.auto_configure.knp_menu</code> is set to <code>true</code> (the default value) BraincraftedBootstrapBundle will automatically configure KnpMenuBundle to use Bootstrap. However, if you want more control you can manually configure KnpMenuBundle.</p>

    <pre><code class="yaml"># app/config/config.yml

braincrafted_bootstrap:
    auto_configure:
        knp_menu: false

knp_menu:
    twig:
        template: BraincraftedBootstrapBundle:Menu:menu.html.twig
</code></pre>

    <h3>KnpPaginatorBundle Configuration</h3>

    <p>Once again, if the option <code>braincrafted_bootstrap.auto_configure.knp_paginator</code> is set to <code>true</code> (the default value), the bundle will be configured automatically. You can set the value to <code>false</code> to manually configure KnpPaginatorBundle.</p>

    <pre><code class="yaml"># app/config/config.yml

braincrafted_bootstrap:
    auto_configure:
        knp_paginator: false

knp_paginator:
    template:
        pagination: BraincraftedBootstrapBundle:Pagination:pagination.html.twig
</code></pre>

</section>
            <section>
    <div class="page-header">
        <h2 id="template">Basic template</h2>
    </div>

    <p>In your template you need to include the CSS and JavaScript files from Bootstrap, that are generated with Assetic. You also need to include jQuery. To enable support for HTML5 elements and media queries to IE8, we recommend to add HTML5 Shim and Respond.js as well.</p>

    <pre><code class="twig">&lt;!-- src/Acme/DemoBundle/Resources/views/layout.html.twig --&gt;

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;

    &lt;title&gt;Bootstrap 101 Template&lt;/title&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;!-- Bootstrap --&gt;
    &lt;link href=&quot;{{ asset('/css/bootstrap.css') }}&quot; rel=&quot;stylesheet&quot; media=&quot;screen&quot;&gt;

    &lt;!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries --&gt;
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

&lt;/head&gt;

&lt;body&gt;
    &lt;h1&gt;Hello, world!&lt;/h1&gt;

    &lt;!-- jQuery (necessary for Bootstraps JavaScript plugins) --&gt;
    &lt;script src=&quot;https://code.jquery.com/jquery.js&quot;&gt;&lt;/script&gt;
    &lt;!-- Include all JavaScripts, compiled by Assetic --&gt;
    &lt;script src=&quot;{{ asset('/js/bootstrap.js') }}&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

</section>            <section>
    <div class="page-header">
        <h2 id="customizing">Customizing</h2>
    </div>

    <p>BraincraftedBootstrapBundle gives you the ability to customize Bootstrap.</p>

    <h3>Custom variables.less</h3>

    <p>Bootstraps has the ability to be modified by manipulating the <code>variables.less</code> file provided with the framework. However, since this bundle uses Composer to download and install Bootstrap, we cannot overwrite the <code>variables.less</code> file (every <code>composer update</code> would eliminate changes made to that file). This it is necessary to build a custom <code>bootstrap.less</code> that includes the custom <code>variables.less</code> and all the other <code>.less</code> files from Bootstrap.</p>

    <p>BraincraftedBootstrapBundle helps you by generating a custom <code>bootstrap.less</code> and importing your <code>variables.less</code> and all LESS files from Bootstrap.</p>

    <p>This feature is only activated if:</p>

    <ul>
        <li>The option <code>braincrafted_bootstrap.customize_variables.variables_file</code> is set to a value other than <code>NULL</code></li>
        <li>You use LESS, that is, the option <code>braincrafted_bootstrap.less_filter</code> is set to <code>less</code> or <code>lessphp</code></li>
    </ul>

    <pre><code class="yaml"># app/config/config.yml

braincrafted_bootstrap:
    customize_variables:
        variables_file: %kernel.root_dir%/Resources/less/variables.less
</code></pre>

    <p>It is also possible to use a file provided by a bundle. You can use the option <code>braincrafted_bootstrap.bootstrap_output</code> to configure where BraincraftedBootstrapBundle stores the generated <code>bootstrap.less</code> file. The default location is <code>app/Resources/less/bootstrap.less</code>. The option <code>braincrafted_bootstrap.customize_variables.bootstrap_template</code> defines the template used to generate the file. You can use the variables <code>variables_file</code> and <code>assets_dir</code> in this template. The latter points to the value of the option <code>braincrafted_bootstrap.assets_dir</code>.</p>

    <p>After configuring the bundle with your customer <code>variables.less</code> file, you need to generate the <code>bootstrap.less</code> file.</p>

    <pre><code class="bash">$ php app/console braincrafted:bootstrap:generate</code></pre>

    <p>Now you can use <code>assetic:dump</code> to generate the CSS files.</p>

    <p><span class="label label-warning">Warning</span> If you customized the configuration of Assetic you need to change it to use the <code>bootstrap.less</code> file generated by the bundle is used.</p>

    <pre><code class="yaml"># app/config/config.yml

assetic:
    ...
    assets:
        bootstrap_css:
            inputs:
                - %kernel.root_dir%/Resources/less/bootstrap.less
            filters:
                - less
                - cssrewrite
            output: css/bootstrap.css</code></pre>

    <h3>Custom Form Widgets</h3>

    <p>If you want to overwrite only a part of the form template provided by BraincraftedBootstrapBundle, you can use template inheritance to achieve this without duplicating code from the bundle.</p>

    <pre><code class="yaml"># app/config/config.yml

braincrafted_bootstrap:
    auto_configure:
        twig: false

twig:
    form:
        resources:
            - AcmeDemoBundle:Form:form_div_layout.html.twig
</code></pre>

    <pre><code class="twig">&lt;!-- src/Acme/DemoBundle/Resources/views/Form/form_div_layout.html.twig --&gt;

{% extends 'BraincraftedBootstrapBundle:Form:form_div_layout.html.twig' %}

&lt;!-- Custom code for the URL widget --&gt;
{% block url_widget %}
{% spaceless %}
    {% set type = type|default('url') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock url_widget %}</code></pre>

</section>
        </div>
    </div>
</div>


<footer id="footer" class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>BraincraftedBootstrapBundle is handcrafted by <a href="http://florian.ec">Florian Eckerstorfer</a> in Vienna.</p>
        </div>
    </div>
</footer>

<!-- JavaScript plugins (requires jQuery) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
<script src="/js/documentation.js"></script>

<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>